.conatcCont{
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
    width:100%;

}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100% !important;
    }
}

dl, ol, ul {
 margin-bottom: 0rem !important;
}